/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-main {
  display: flex;
  height: calc(100vh - 60px);
  position: relative;
}

.sidebar {
  width: 0;
  flex-shrink: 0;
  background-color: #fff;
  border-right: 1px solid lightgray;
  overflow: hidden;
  transition: width 0.3s ease;
}



.files {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
