
.files {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
 
}

.data_list {
  width: 100%;
}

.detailsrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.hr-line{
  border-bottom: 1px solid #ccc;
}

.detailsrow p {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: rgb(78, 78, 78);
}



.detailsrow p svg{
  margin-left: 10px;
}

.icon{
  display: flex;
  align-items: center;
}

.folder-icon{
  margin-right: 5px;
}

.owner{
  margin-left: 30px;
}

.rename-delete-icons-div{
  margin-left: 35px;
  margin-top: -10px;
}

.rename-icon{
    font-size: 9px;
    background-color:whitesmoke;
    border: 1px solid lightgray;
   
    align-items: center;
    border-radius: 12px;
    padding: 5px 8px;
    margin-left:5px;
    box-shadow: 2px 2px 2px #ccc;
}

.delete-icon{
  font-size: 9px;
  background-color:whitesmoke;
  border: 1px solid lightgray;
 
  align-items: center;
  border-radius: 12px;
  padding: 5px 8px;
  margin-left:5px;
  box-shadow: 2px 2px 2px #ccc;
}

.save-icon{
  font-size: 13px;
  background-color:whitesmoke;
  border: 1px solid lightgray;
 
  align-items: center;
  border-radius: 12px;
  padding: 5px 8px;
  margin-left:5px;
  margin-top: 3px;
  box-shadow: 2px 2px 2px #ccc;
}

.cancel-icon{
  font-size: 13px;
  background-color:whitesmoke;
  border: 1px solid lightgray;
 
  align-items: center;
  border-radius: 12px;
  padding: 5px 8px;
  margin-left:5px;
  margin-top: 3px;
  box-shadow: 2px 2px 2px #ccc;
}

.rename-input{
  font-size: 13px;
  background-color:whitesmoke;
  border: 1px solid lightgray;
 
  align-items: center;
  border-radius: 12px;
  padding: 5px 8px;
  margin-left:5px;
  margin-top: 3px;
  box-shadow: 2px 2px 2px #ccc;
}

